# .gitignore para Python

# Ambientes virtuais
venv/
.env/
.env*/

# Arquivos Python
*.pyc
*.pyo
__pycache__/

# Editor de texto
.vscode/
.idea/

# Outros arquivos temporários
*.log
*.bak
*.swp
# Dados utilizados no repositorio
data/
